.modelOverlay{
    position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  transition: opacity 250ms ease;
  background: rgb(0,0,0,0.75);
  -webkit-box-shadow: 2px 0px 15px -3px #000000; 
box-shadow: 2px 0px 15px -3px #000000;
}
.modalContainer{
    margin: auto;
  width: 90%;
  max-width: 40rem;
  height: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 1.5rem;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
.headingPitching{
    font-size: 20px;
    margin-left: 30px;
}
.subheading{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 200;
}
.inputForm{
    width: 90%;
    margin-left: 30px;
}
.inputForm form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.inputName{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.inputName span{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}
.inputName input{
    padding: 15px;
    border-radius: 10px;
    border: none;
}
.inputName input:focus{
    outline: none;
}
.submit{
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color:lightslategray;
    color: antiquewhite;
    margin-right: 10px;
}
.submit:hover{
    cursor: pointer;
}
.buttonsEmail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}